# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Windows scripts should always use CRLF
*.bat text eol=crlf

# Docker files
Dockerfile text eol=lf
docker-compose.yml text eol=lf

